<main>
	<div class="wrapper">
        <p>
          <strong>Content:</strong>
          <%= @question.content %>
        </p>

        <p>
          <strong>Theme:</strong>
          <%= @question.theme.name %>
        </p>
    </div>
</main>
