<%= render 'partials/header' %>

<main>
    <div class="wrapper">
		<h1>Listing Articles</h1>
		<%= link_to "Retour aux question du thème #{@theme.name}", controller: :questions, action: :index, theme_slug: @theme.slug, slug: @question.slug %>

		<table>

			<tbody>
				<% @articles.each do |article| %>
					<tr>
						<td>
							<%= short_date article.created_at %>
						</td>
						<td>
							<%= link_to 'Éditer', controller: :articles, action: :edit, theme_slug: @theme.slug, question_slug: @question.slug, id: article.id %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
    </div>
</main>
