/* line 1, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 8, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 11, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
body {
  line-height: 1;
}

/* line 14, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 17, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 20, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
blockquote::after, blockquote::before, q::after, q::before {
  content: "";
  content: none;
}

/* line 24, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: url(/assets/Raleway-ExtraLight.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  src: url(/assets/Raleway-Medium.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: lighter;
  src: url(/assets/Raleway-Thin.ttf);
}
/* line 1, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_wrapper.sass */
.wrapper {
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  position: relative;
}
/* line 7, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_wrapper.sass */
.wrapper.medium, .wrapper {
  width: 1030px;
}

/* line 1, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header {
  background: #5b696f;
}
/* line 3, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header .bar {
  width: 100%;
  height: 54px;
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
}
/* line 10, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header .bar .wrapper {
  height: 100%;
  align-items: center;
  display: flex;
}
/* line 14, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header .bar span {
  left: -20px;
  opacity: 0;
  flex-grow: 10;
  flex-shrink: 0;
  position: relative;
  display: block;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: normal;
  color: #5b696f;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}
/* line 28, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header .bar .toggle-menu {
  width: 35px;
  height: 22px;
  border-top: 2px solid #5b696f;
  border-bottom: 2px solid #5b696f;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}
/* line 37, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header .bar .toggle-menu::after {
  content: "";
  background: #5b696f;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  position: relative;
  display: block;
}
/* line 47, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header.visible .bar {
  background: #d2f0fe;
}
/* line 49, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header.visible .bar span {
  left: 0;
  opacity: 1;
}

/* line 9, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/partials/_main.sass */
body {
  font-family: "Raleway";
  color: #5b696f;
}

/* line 1, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_hero.sass */
header {
  background: #5b696f;
  height: 100vh;
  width: 100%;
  position: relative;
}
/* line 6, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_hero.sass */
header .hero {
  background: #d2f0fe url(/assets/web.svg) no-repeat center center/cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
/* line 11, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_hero.sass */
header .hero .wrapper {
  width: 400px;
  height: 290px;
  top: 50%;
  left: 50%;
  margin: -145px 0 0 -200px;
  position: absolute;
}
/* line 18, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_hero.sass */
header .hero .logo {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
/* line 22, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_hero.sass */
header .hero .logo svg {
  width: 100%;
  height: 100%;
}
/* line 25, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_hero.sass */
header .hero .logo svg path {
  fill: #5b696f;
  stroke-width: 8px;
}
/* line 28, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_hero.sass */
header .hero h1, header .hero h2 {
  font-family: "Raleway";
  font-weight: lighter;
  color: #5b696f;
  text-align: center;
  text-transform: uppercase;
}
/* line 34, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_hero.sass */
header .hero h1 {
  margin-top: 25px;
  font-size: 60px;
  letter-spacing: 10px;
}
/* line 38, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_hero.sass */
header .hero h2 {
  margin-top: 10px;
  font-size: 15px;
  letter-spacing: 3px;
}

/* line 3, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_theme.sass */
.themes .theme a {
  background-color: whitesmoke;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 6px;
  position: relative;
  display: block;
  font-family: "Raleway";
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}
/* line 18, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_theme.sass */
.themes .theme a:hover {
  top: -10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}
/* line 21, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_theme.sass */
.themes .theme a:hover span {
  top: -5px;
  opacity: 0;
}
/* line 24, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_theme.sass */
.themes .theme a:hover .plus {
  top: -20px;
  opacity: 1;
  transform: scale(1.5);
}
/* line 28, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_theme.sass */
.themes .theme .overlay {
  border-radius: 6px;
}
/* line 30, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_theme.sass */
.themes .theme .content {
  height: 65px;
  padding: 47.5px 0;
}
/* line 33, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_theme.sass */
.themes .theme .content span {
  width: 100%;
  top: 0;
  margin-bottom: 8px;
  position: relative;
  display: block;
  transition: 0.15s;
}
/* line 40, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_theme.sass */
.themes .theme .content .name {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 45, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_theme.sass */
.themes .theme .content .plus {
  background: url(/assets/plus.svg) no-repeat center center/contain;
  width: 16px;
  height: 16px;
  margin: 0 auto;
}
/* line 50, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_theme.sass */
.themes .theme .content .counter {
  font-size: 13px;
}

/* line 6, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/pages-home.sass */
main {
  padding: 60px 0;
}
/* line 8, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/pages-home.sass */
main .text-border {
  margin-bottom: 50px;
}

/* line 11, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/pages-home.sass */
.themes {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}
/* line 15, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/pages-home.sass */
.themes .theme {
  width: 33.333%;
  height: 160px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
/* line 20, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/pages-home.sass */
.themes .theme:nth-of-type(3n) {
  padding: 0 0 0 20px;
}
/* line 22, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/pages-home.sass */
.themes .theme:nth-of-type(3n+1) {
  padding: 0 20px 0 0;
}
/* line 24, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/pages-home.sass */
.themes .theme:nth-of-type(3n+2) {
  padding: 0 10px;
}
/* line 26, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/pages-home.sass */
.themes .theme:nth-last-of-type(1), .themes .theme:nth-last-of-type(2), .themes .theme:nth-last-of-type(3) {
  margin-bottom: 0;
}
