/* line 1, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 8, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 11, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
body {
  line-height: 1;
}

/* line 14, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 17, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 20, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
blockquote::after, blockquote::before, q::after, q::before {
  content: "";
  content: none;
}

/* line 24, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: url(/assets/Raleway-ExtraLight.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  src: url(/assets/Raleway-Medium.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: lighter;
  src: url(/assets/Raleway-Thin.ttf);
}
/* line 1, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_wrapper.sass */
.wrapper {
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  position: relative;
}
/* line 7, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_wrapper.sass */
.wrapper.medium, .wrapper {
  width: 1030px;
}

/* line 1, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header {
  background: #5b696f;
}
/* line 3, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header .bar {
  width: 100%;
  height: 54px;
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
}
/* line 10, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header .bar .wrapper {
  height: 100%;
  align-items: center;
  display: flex;
}
/* line 14, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header .bar span {
  left: -20px;
  opacity: 0;
  flex-grow: 10;
  flex-shrink: 0;
  position: relative;
  display: block;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: normal;
  color: #5b696f;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}
/* line 28, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header .bar .toggle-menu {
  width: 35px;
  height: 22px;
  border-top: 2px solid #5b696f;
  border-bottom: 2px solid #5b696f;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}
/* line 37, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header .bar .toggle-menu::after {
  content: "";
  background: #5b696f;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  position: relative;
  display: block;
}
/* line 47, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header.visible .bar {
  background: #d2f0fe;
}
/* line 49, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/components/_header.sass */
header.visible .bar span {
  left: 0;
  opacity: 1;
}

/* line 9, /Users/Julien/Rails/Spinkop/app/assets/stylesheets/partials/_main.sass */
body {
  font-family: "Raleway";
  color: #5b696f;
}
