<nav>
	<div class="wrapper">
		<% if controller_name != 'themes' || action_name != 'index' %>
			<%= link_to 'Liste des thèmes', controller: :themes, action: :index %>
		<% end %>
		<%= link_to 'Nouveau thème', controller: :themes, action: :new %>
		<%= link_to 'Nouvelle question', controller: :questions, action: :new %>
		<%= link_to 'Nouvel article', controller: :articles, action: :new %>
	</div>
</nav>
