<%= render 'partials/header' %>

<main>
    <div class="wrapper">
		<%= link_to 'Ajouter un thème', controller: :themes, action: :new %>
        <%= link_to 'Ajouter une question', controller: :questions, action: :new %>
		<%= link_to 'Ajouter un article', controller: :articles, action: :new %>
    </div>
</main>
