<header>
    <div class="hero">
        <div class="wrapper">
            <div class="logo">
                <%= get_svg('web') %>
            </div>
            <h1>Spinkop</h1>
            <h2>les particules du numérique</h2>
            <div class="arrow"></div>
        </div>
    </div>
    <div class="bar">
        <div class="wrapper">
            <span>Spinkop</span>
            <div class="toggle-menu open"></div>
        </div>
    </div>
</header>

<main>
    <div class="wrapper">
        <p class="text-border">
            Sélectionnez un thème
        </p>
        <%= render 'themes/grid' %>
    </div>
</main>
