<%= render 'partials/header', hero: true %>

<main>
    <div class="wrapper">
        <p class="text-border">
            Sélectionnez un thème
        </p>
        <%= render 'themes/grid' %>
    </div>
</main>
