@font-face
	font-family: $raleway
	font-style: normal
	font-weight: normal
	src: asset('Raleway-ExtraLight.ttf')

@font-face
	font-family: $raleway
	font-style: normal
	font-weight: bold
	src: asset('Raleway-Medium.ttf')

@font-face
	font-family: $raleway
	font-style: normal
	font-weight: lighter
	src: asset('Raleway-Thin.ttf')
